/*------------------------------------*\
#FONTS
\*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-alpha-light:#8b33fb;
    --global-color-alpha: #4e00ea;
    --global-color-alpha-dark: #6a00fd;

    --global-color-neutral-xxxx-light:#ffffff;
    --global-color-neutral-xxx-light:#f6f5f7;
    --global-color-neutral-xx-light:#ecebed;
    --global-color-neutral-x-light:#dcdae0;
    --global-color-neutral-light:#c8c6cc;
    --global-color-neutral:#a2a1a6;
    --global-color-neutral-dark: #787480;
    --global-color-neutral-x-dark:#605d66;
    --global-color-neutral-xx-dark: #47454d;
    --global-color-neutral-xxx-dark: #232226;
    --global-color-neutral-xxxx-dark: #17161a;

    --global-color-alpha-light-transparent: rgba(78,0,234,0.3);
    --global-color-alpha-transparent: rgba(139,51,251,0.5);

    --global-color-neutral-light-transparent: rgba(23,22,26,0.05);
    --global-color-neutral-transparent: rgba(23,22,26,0.15);

    --global-page-color: var(--color-neutral-xxxx-dark);
    --global-page-backgroundColor: var(--global-color-neutral-xxx-light);
    --global-app-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-app-border:  var(--global-color-alpha) solid var(--global-borderWidth);
    --global-app-InputBorder: var(--global-color-neutral-x-light) solid 1px;

    /* border stuff */
    --global-borderRadius: 4px;
    --global-borderWidth: 8px;

    /* transitions */
    --global-transitionTiming-alpha: .1s ease-out;

    /* Baseline settings */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */
    --global-input-backgroundColor: var(--global-color-alpha);
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha-light);
    --custom-option__symbol-Fill: var(--global-color-neutral-xxxx-light);

    --global-input-focus-boxShadowColor: var(--global-color-alpha-transparent);
    --global-input-focus-boxShadow: 0 0 0 3px var(--global-input-focus-boxShadowColor);
}
@media (prefers-color-scheme: dark) {
    :root {
        --global-page-color: var(--global-color-neutral-xxxx-light);
        --global-page-backgroundColor: var(--global-color-neutral-xxxx-dark);
        --global-app-backgroundColor: var(--global-color-neutral-xxx-dark);
        --global-app-border:  var(--global-color-alpha-light) solid var(--global-borderWidth);
        --global-app-InputBorder: var(--global-color-neutral-xx-dark) solid 1px;
        --custom-option__symbol-Fill: var(--global-color-neutral-xxxx-light);
        --global-input-backgroundColor: var(--global-color-alpha-light);
    }

}
/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Inter', sans-serif;
    color: var(--global-page-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--global-page-backgroundColor);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
    padding: 0;
    list-style-type: none;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: inline-block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral);
}

input:disabled {
    cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
    padding-top: 48px;
    padding-bottom: 24px;
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: 48px;
}

@media (min-width: 768px) {
    .o-row {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section + .o-section {
    padding-top: 8px;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
    padding: var(--global-whitespace-lg);
    background-color: var(--global-app-backgroundColor);
    max-width: 32rem;
    border-radius: var(--global-borderRadius);
    border-top: var(--global-app-border);
}

.c-form__title {
    font-weight: 600;
}

.c-input {
    max-width: 28rem;
    border: var(--global-app-border);
    border-radius: 2px;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    padding: 11px;
    outline: none;
}

.c-input__text {
    width: 100%; 
    color: var(--global-color-neutral);
    background-color: var(--global-app-backgroundColor);
    border: var(--global-app-InputBorder);
    border-radius: var(--global-borderRadius);
}

/*Custom radio's*/

/*
    Component: Option list
*/

.c-option-list {
    margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

.c-form-field--option {
    display: flex;
    align-items: center;
}

.c-option {
    margin-right: var(--global-whitespace-sm);
}

/*
    Component: Option list
*/

.c-option-list {
    margin-bottom: var(--global-whitespace);
}

.c-option-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

/*
    Custom option
    ---
    Custom checkboxes & radio buttons
*/

/* Hide the actual input with the class .o-hide-accessible */

.c-custom-option {
    display: flex;
    align-items: center;
}

.c-custom-option__fake-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--global-whitespace-md);
    height: var(--global-whitespace-md);
    margin-right: var(--global-whitespace-sm);
    background: var(--global-input-backgroundColor);
    border: var(--global-borderWidth) solid var(--custom-option-borderColor, var(--global-input-borderColor));
    box-shadow: var(--custom-option-boxShadow, 0);
    transition: border var(--global-transitionTiming-alpha), box-shadow var(--global-transitionTiming-alpha);
}

.c-custom-option__fake-input--radio {
    border-radius: 100%;
}

.c-custom-option__symbol {
    display: block;
    opacity: 0; /* Hide the symbol initially */
    transform: scale(.5);
    transition: transform var(--global-transitionTiming-alpha), opacity var(--global-transitionTiming-alpha);
}

.c-custom-option__fake-input--checkbox .c-custom-option__symbol {
    width: 10px;
    height: 10px;
    fill: var(--custom-option__symbol-Fill);
}

.c-custom-option__fake-input--radio .c-custom-option__symbol {
    background-color: var(--custom-option__symbol-Fill);
    border-radius: 100%;
    width: 6px;
    height: 6px;
}

/* hover state */

.c-custom-option:hover {
    --custom-option-borderColor: var(--global-input-hover-borderColor);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-option,
.c-option--hidden:active + .c-custom-option {
    --custom-option-backgroundColor: #ff0000;
    --custom-option-borderColor: var(--global-input-focus-borderColor);
    --custom-option-boxShadow: var(--global-input-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-option .c-custom-option__symbol {
    opacity: 1; /* Show the symbol when the invisible checkbox/radio button is checked */
    transform: scale(1);
}

/*
    Component: Custom Toggle
    ---
    Visually change a checkbox into a toggle
*/

.c-custom-toggle-list {
    --toggle-list-borderColor: var(--global-color-neutral-xxx-light);
    margin-bottom: var(--global-whitespace);
}

.c-custom-toggle-list__item {
    margin-bottom: calc(var(--global-whitespace) / 2);
}

.c-custom-toggle-list__item + .c-custom-toggle-list__item {
    padding-top: calc(var(--global-whitespace) / 2);
    border-top: 1px solid var(--toggle-list-borderColor);
}

.c-custom-toggle {
    --toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
    --toggle-checked-borderColor: var(--global-color-alpha-dark);
    --toggle-checked-backgroundColor: var(--global-color-alpha);
    --toggle-focus-boxShadow: var(--global-input-focus-boxShadow);
    --toggle__switch-backgroundColor: White;
    --toggle__switch-checked-backgroundColor: White;
    --toggle__switch-transition: all var(--global-transitionTiming-alpha);
    display: flex;
    align-items: center;
}

.c-custom-toggle--inverted {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.c-custom-toggle__fake-input {
    display: block;
    height: 24px;
    width: 48px;
    margin-right: var(--global-whitespace-md);
    background-color: var(--toggle-backgroundColor);
    border-radius: 32px;
    border: var(--global-borderWidth) solid var(--toggle-borderColor, var(--global-input-borderColor));
    transition: all var(--global-transitionTiming-alpha);
    box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
    margin-right: 0;
}

.c-custom-toggle__fake-input::after {
    position: relative;
    display: block;
    content: '';
    height: 22px;
    width: 22px;
    border-radius: 22px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    background-color: var(--toggle__switch-backgroundColor);
    transition: var(--toggle__switch-transition);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-toggle,
.c-option--hidden:active + .c-custom-toggle {
    --toggle-borderColor: var(--global-input-focus-borderColor);
    --toggle-boxShadow: var(--toggle-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-toggle {
    --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
    --toggle-borderColor: var(--toggle-checked-borderColor);
    --toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);    
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    transform: translate(24px,0);
}

/* special active state */

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input::after {
    width: 28px;
}

.c-option--hidden:active:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    margin-left: -6px;
}

/*
    Component: Custom Select
    ---
    Custom select dropdown
*/


.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__symbol {
    width: var(--global-whitespace);
    height: var(--global-whitespace);
    position: absolute;
    top: calc(var(--global-whitespace) / 2);
    right: calc(var(--global-whitespace) / 2);
    pointer-events: none;
    fill: var(--global-color-neutral-x-light);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    margin-bottom: 0;
    padding-bottom: var(--global-whitespace-sm);
    font-size: 14px;
    line-height: 16px;
    color: var(--label-color);
}

.c-label--option {
    padding-bottom: 0;
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-light {
    color: lightGray;
}

.u-color-neutral {
    color: Gray;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 32em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
